
@model List<EmployeeModel>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
            <h4 class="card-title">Striped Table</h4>
            <div class="card-description">
                <a href="/admin/Employees/Edit" class="btn btn-gradient-primary btn-rounded btn-fw">New</a>
            </div>
            <table id="order-listing" class="table table-striped">
                <thead>
                <tr>
                    <th> Employee Name </th>
                    <th> Department </th>
                    <th> Title </th>
                    <th> Email </th>
                    <th> Action </th>
                </tr>
                </thead>
                <tbody>
                    @foreach(var employee in Model)
                    
                    {
                        <tr>
                            <td class="py-1">@employee.Name</td>
                            <td> @employee.Description </td>
                            <td>@employee.Title</td>
                            <td> @employee.Email </td>
                            <td> 
                                    <input type="button" value="Edit" class="btn btn-gradient-info btn-rounded btn-fw">
                                        <input type="button" value="Delete" class="btn btn-gradient-danger btn-rounded btn-fw">
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
           </div>
       </div>
   </div>


@section Scripts
{
    <!-- Plugin js for this page -->
<script src="~/Admin/vendors/datatables.net/jquery.dataTables.js"></script>
<script src="~/Admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<!-- End plugin js for this page -->
<!-- Custom js for this page -->
<script src="~/Admin/js/data-table.js"></script>
<!-- End custom js for this page -->
}